html {
  font-size: 62.5%;
}

body {
  
}

h1{
  font-size: 4.8rem;
}

.library-contents {
  width: 140rem;
  
}

thead{

}

.table-head-divider{
  width: 140rem;
  background-color: rgb(219, 219, 219);
  height: .2rem;
  border: none;
  margin-top: 10px;
}

tbody {

}

tbody td{
  padding: 1rem 0;
}

th {
  color: rgb(151, 151, 151);
  font-size: 2.4rem;
}

.new-book-button{
  width: 20rem;
  margin-left: 10rem;
}

td {
  text-align: center;
  font-size: 1.6rem;
  
}

.container{
  display: grid;
  justify-content: center;
  row-gap: 15rem;
  margin-top: 10rem;
}

.new-book-form > *{
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

label{
  font-size: 1.6rem;
}

