html {
  font-size: 62.5%;
}

body {
  font-family: 'Wix Madefor Display', sans-serif;
}

h1{
  font-size: 4.8rem;
}

.library-contents {
  width: 140rem;
  
}

thead{

}

table{
  border-collapse: collapse;
}

.table-head-divider{
  width: 140rem;
  background-color: rgb(219, 219, 219);
  height: .2rem;
  border: none;
  margin-top: 10px;
}

.book-list tr:hover{
  background-color: rgb(221, 219, 219);
}

tbody {

}

.book-list td{
  padding: 1.4rem 0;
}

.book-list tr{
}

.book-list{
  border-collapse: collapse;
  }


.book-list tr:hover{
  background-color: rgb(221, 219, 219);
}

.book-list td:hover{
  background-color: rgb(221, 219, 219);
}

th {
  color: rgb(151, 151, 151);
  font-size: 2.4rem;
}

.new-book-button{
  width: 20rem;
  margin-left: 10rem;
}

td {
  text-align: center;
  font-size: 1.6rem;
  
}

.container{
  display: grid;
  justify-content: center;
  row-gap: 15rem;
  margin-top: 10rem;
}

.new-book-form > *{
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

label{
  font-size: 1.6rem;
}

